* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}
body {
    height: 100%;
    background: url(../slike/pozadina.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#container{
    width: 60%;
    margin: 0 auto;


}
nav {
	width: 100%;
	height: 40px;
    background-color: rgba(46, 43, 45, 0.8);
}
nav ul li{
    display: inline-block;
 
    color: white;
    font-size: 20px;
    margin-left: 20px;

    padding: 3px;
}
nav ul li a:hover{
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
        cursor: pointer;
    }
nav ul li a{
    color: white;
  text-decoration: none;
  
}
.naslov{
    font-family: 'Slabo 27px', serif;
    color: black;
    padding: 5px;
}
#footerDiv{
    position: fixed; 
    bottom: 0;
	text-align: center;	
	color: #fff;
	width: 60%;
}

footer {
    border-top: 2px solid white;
    text-align: center;
    background-color: rgba(46, 43, 45, 0.938);

  }
  table{
      margin-top: 10px;
  }
.prikaztxt{
    font-family: 'Slabo 27px', serif;
    margin-top: 5%;
}
.pretraga{
    float: right;
}
.textKontakt{
    color: white;
    font-size: 30px;
    margin-top:20px; 
    background-color: rgba(46, 43, 45, 0.938);
    padding: 10px;
    float: left;
}




